# Godot 4+ specific ignores
.godot/

# Godot plugins
addons/godot_owl
addons/godot-git-plugin

*.exe
*.pck

# TODO Add these as seperate download link and give credits to users.
addons/
assets/*

# Add sound effects and music
!assets/sound_effects
!assets/music

# Add knight2, I forgot I had this in the gitignore
!assets/knight-character
!assets/knight-character2



scripts/scenes
#

demo/
doc/
documentation/
images/
media/
samples/
screenshots/

!scripts/assets

# Test code
Testing/

/scripts/AudioOptions.gd
/scripts/OptionsMenu.gd

/scenes/wor3F6B.tmp
/scenes/wor5E3E.tmp
/scenes/wor158A.tmp
/scenes/worC7C0.tmp

# Extras from other projects
# /CONTRIBUTING.md
# /COPYRIGHT.txt
# /datatable.res
# /default_bus_layout.tres
# /Demonstration.tscn
# /flower02.png.import
# /itchicon.png
# /logo.png
other_files

# Extras
__MACOSX
*.zip
/plugin.cfg
/gonote.gd
/note_panel.tscn
/examples
/git_pics
/godot_discord_webhooks
/saved_notes
/TCPMaid.sln
/.vs

# Android stuff
*.apk
*.idsig

# IOS stuff
*.ipa

# DLL's and stuff for Smooth Motion C#
/data_Smooth Motion_windows_x86_64
*.dll
